body {
    margin: 0;
    font: 14px 'Roboto', sans-serif;
    color: #2d2d35;
    line-height: 1.5;
}

a {
    color: #0775ce;
    text-decoration: none;
    transition: all 1s;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #788794;
}

/* General Classes */
.button-default, 
.outline-button-default {
    transition: all 1s;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 5px;
    border: 0;
    line-height: 1;
    height: 32px;
    box-sizing: border-box;
}

.button-default {
    background-color: #2c9bf5;
    color: #fff;    
}

.button-default:hover {
    text-decoration: none;
    background-color: #02559c;
}

.outline-button-default {
    background-color: #fff;
    border: 1px solid #2c9bf5;
    color: #2c9bf5;
    text-align: center;
}

.outline-button-default:hover {
    text-decoration: none;
    color: #02559c;
    border: 1px solid #02559c;
}

.outline-button-default + .button-default {
    margin-left: 10px;
}

.button-default[disabled], 
.outline-button-default[disabled] {
    background-color: #dae0e6;
    color: #b7c0c9;
    cursor: not-allowed;
}

.container {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.hide {
    display: none;
}

/* Header */
.header {
    border-bottom: 1px solid #ccc;
    padding: 2px 0 0;
}

.header .menu-mobile,
.header #menu {
    display: none;
}

.header > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.header .navigation {
    margin: 0;
    padding: 0;
}

.header .navigation li {
    display: inline-block;
}

.header .navigation a {
    display: inline-block;
    text-decoration: none;
    color: #415669;
    position: relative;
    line-height: 64px;
    padding: 0 15px;
    transition: all 2s;
}

.header .navigation a:hover:after,
.header .navigation a.active:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0775ce;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header a + a {
    margin: 0 0 0 20px;
}

/* Content */
.content {
    margin: 20px 0 50px;
}

.container-events-list > h2 {
    font-size: 28px;
}

.content .container-events-list + .container-events-list {
    margin-top: 50px;
}

.content .events-list {
    display: flex;
}

/* Cards */
.card {
    width: 25%;
    background-color: #fbfbfb;
    box-shadow: 0 0 5px 2px #dae0e6;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}

.card:hover {
    box-shadow: 0 0 10px 5px #b8c3cc;
}

.card + .card {
    margin-left: 20px;
}

.card .event-photo {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #dae0e6;
    width: 100%;
    height: 200px;
}

.card .flag {
    position: absolute;
    background-color: #dae0e6;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: -25px;
    right: 20px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 0 4px 0px #58626d;
}

.card .icon-brazil {
    background-image: url('https://programee.com.br/karol/brazil.png');
}

.card .icon-chile {
    background-image: url('https://programee.com.br/karol/chile.png');
}

.card .icon-argentina {
    background-image: url('https://programee.com.br/karol/argentina.png');
}

.card .icon-colombia {
    background-image: url('https://programee.com.br/karol/colombia.png');
}

.card .city-sp {
    background-image: url('https://programee.com.br/karol/sp_city.jpeg');
}

.card .city-sa {
    background-image: url('https://programee.com.br/karol/sa_city.jpg');
}

.card .city-me {
    background-image: url('https://programee.com.br/karol/me_city.jpeg');
}

.card .city-ro {
    background-image: url('https://programee.com.br/karol/ro_city.jpg');
}

.card .content-card {
    padding: 25px 20px 0;
}

.card .content-card h2 {
    margin: 0;
}

.content-card p > .fas {
    margin-right: 5px;
}

.card .button-container {
    display: flex;
	justify-content: center;
    padding: 10px 0 20px;
}

.share {
    position: absolute;
    top: 15px;
    right: 15px;
}

.share .fa-share-alt {
    color: #fff;
    font-size: 18px;
}

.share .share-buttons {
    display: none;
}

.share:hover .share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    right: 0;
    top: 0;
    padding: 0 8px;
}

.share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-buttons .share-text {
    color: #788794;
    margin-right: 5px;
    font-size: 12px;
}

.share-buttons .social {
    margin: 0 2px;
}

.share-buttons .fab {
    font-size: 18px;
    line-height: 33px;
    color: #2c9bf5;
}

.share-buttons .fab:hover {
    color: #02559c;
}

/* Featured card */
.featured-card {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    min-height: 350px;
}

.featured-card .event-photo {
    width: 50%;
    height: 100%;
    background-size: cover;
}

.featured-card .content-card {
    padding: 20px 30px;
    width: 50%;
    box-sizing: border-box;
}

.featured-card .button-container {
    justify-content: space-between;
}

/*  Half card */
.half-card {
    width: 50%;
    display: flex;
	align-items: center;
    min-height: 350px;
}

.half-card .event-photo {
    width: 50%;
    height: 100%;
    background-size: cover;
}

.half-card .content-card {
    padding: 20px 15px;
    width: 50%;
    box-sizing: border-box;
}

.half-card .content-card .button-container {
	justify-content: center;
    padding: 10px 0 0;
}

.half-card .premium-flag {
    background-color: #ff7a37;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
}

.half-card .premium-flag > i {
    margin-right: 5px;
}

.half-card.premium-card {
    background: url('https://programee.com.br/karol/bg_detail.png') no-repeat 0 0;
}

.half-card .button-container {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #292e32;
    color: #fff;
    font-size: 12px;
}

/* Modal */
.modal {
    background-color: #fbfbfb;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    max-height: 50%;
    box-shadow: 0 4px 8px 0 rgba(88, 98, 109, 0.6);
    border-radius: 5px; 
    padding: 40px 0;
}

.modal .close {
    color: #788794;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 21px;
    cursor: pointer;
}

.modal .modal-content {
    padding: 0 60px;
    overflow: auto;
    max-height: 350px;
}

.modal .success,
.modal .premium {
    text-align: center;
    padding: 20px 60px;
}

.modal .fa-check-circle {
    font-size: 46px;
    color: #40b70a; 
}

.modal .fa-crown {
    font-size: 46px;
    color: #ff7a37; 
}

@media only screen and (max-width: 900px) {

    .wrapper {
        padding: 0 20px;
    }

    .content .events-list {
        flex-direction: column;
    }

    /* Header */
    .header .menu-mobile {
        display: block;
        font-size: 23px;
        color: #95a0ac;
        margin: 9px 20px 0 0;
        float: right;
    }

    .header #menu {
        display: none;
    }

    .header #menu[type="checkbox"]:checked ~ .navigation {
        display: block;
      }

    .header > .wrapper {
        display: block;
        padding: 15px 0 0;
    }

    .header h1 {
        display: inline-block;
        margin: 0 20px;
    }

    .header .navigation {
        display: none;
        background-color: #f2f6f9;
    }

    .header .navigation li {
        width: 100%;
        border-bottom: 1px solid #dae0e6;
    }

    .header .navigation a {
        display: block;
    }

    .header .aux-nav {
        align-items: center;
        padding: 15px 20px;
        background-color: #f2f6f9;
        border-top: 1px solid #dae0e6;
    }

    /* card */
    .card {
        width: 100%;
    }

    .card + .card {
        margin: 20px 0 0;
    }

    /* featured card */
    .featured-card .event-photo {
        width: 40%;
        height: 550px;
    }

    .featured-card .content-card {
        padding: 20px;
        width: 60%;
    }

    .featured-card .excerpt {
        max-height: 100px;
        overflow: auto;
    }

    .featured-card .button-container {
        flex-direction: column;
        padding-top: 20px;
    }

    .featured-card .outline-button-default,
    .featured-card .button-default {
        display: block;
        width: 100%;
    }

    .featured-card .share-buttons {
        margin-top: 20px;
    }

    /* half card */
    .half-card .event-photo {
        width: 40%;
        height: 350px;
    }

    .half-card .content-card {
        width: 60%;
    }

    .half-card .content-card .button-container {
        flex-direction: column;
    }

    .featured-card .outline-button-default + .button-default,
    .half-card .outline-button-default + .button-default {
        margin: 10px 0 0;
    }

    /* Modal */
    .modal {
        width: 100%;
    }

    .modal .success, 
    .modal .premium {
        padding: 20px;
    }
  }